<div class="berry-features">

    {% for berry-features in site.features %}

    {% if feature.title %}
    <div class="berry-features">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ berry-features.berrytitle }}
            </h3>
            <p>
                {{ berry-features.berrydescription }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>