<div class="berry-features">

    {% for berry-feature in site.berry-features %}

    {% if berry-feature.title %}
    <div class="berry-feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ berry-feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="berry-featureText">
            <h3>
                {{ berry-feature.berrytitle }}
            </h3>
            <p>
                {{ berry-feature.berrydescription }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>